<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.Description }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}">
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ "/index.xml" | relURL }}">
    {{- if eq .Site.Params.Environment "production" }}
    {{ template "partials/google-analytics.html" . }}
    {{ template "partials/google-ads.html" . }}
    {{- end }}
</head>
<body>
    {{ template "partials/header.html" . }}
    <main class="page-content">
        <div class="wrapper">
            {{ template "partials/breadcrumbs.html" . }}
            <div class="content-area">
                <div class="main-column">
                    {{ block "main" . }}{{ end }}
                </div>
                <aside class="sidebar">
                    {{ partial "sidebar.html" . }}
                </aside>
            </div>
        </div>
    </main>
    <footer class="site-footer">
        <div class="wrapper">
            <div class="footer-col-wrapper">
                <div class="footer-col footer-col-left">
                    <ul class="footer-links">
                        {{ if .Site.Params.Email }}
                            <li><a href="mailto:{{ .Site.Params.Email }}">Email</a></li>
                        {{ end }}
                        {{ if .Site.Params.Github }}
                            <li><a href="https://github.com/{{ .Site.Params.Github }}" target="_blank">GitHub</a></li>
                        {{ end }}
                        {{ if .Site.Params.Twitter }}
                            <li><a href="https://twitter.com/{{ .Site.Params.Twitter }}" target="_blank">Twitter</a></li>
                        {{ end }}
                        <li><a href="{{ "/index.xml" | relURL }}">RSS Feed</a></li>
                    </ul>
                </div>
                <div class="footer-col footer-col-right">
                    <p class="footer-description">{{ .Site.Params.Description }}</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
